Package: microeditor
Version: 1.4.0
Architecture: amd64
Maintainer: Vadim Velikodniy <vadim@velikodniy.name>
Section: text
Priority: optional
Homepage: https://github.com/zyedidia/micro
Description: Micro editor
  Micro is a terminal-based text editor
  that aims to be easy to use and intuitive,
  while also taking advantage of the full
  capabilities of modern terminals.
